<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Bazarr</title>
    <base href="{{baseUrl}}" />
    <meta charset="utf-8" />
    <link rel="icon" type="image/x-icon" href="./favicon.ico" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"
    />
    <meta
      name="description"
      content="Bazarr is a companion application to Sonarr and Radarr. It manages and downloads subtitles based on your requirements. You define your preferences by TV show or movie and Bazarr takes care of everything for you."
    />
  </head>
  <body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="root"></div>
    <script>
      try {
        window.Bazarr = JSON.parse(`{{BAZARR_SERVER_INJECT | tojson | safe}}`);
      } catch (error) {}
    </script>
    <script type="module" src="./src/dom.tsx"></script>
  </body>
</html>
